<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ad-webhook-test.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b4a9bb5a-a0a9-4142-a7d9-2b21488ad368/resourceGroups/qa-publication/providers/Microsoft.Web/sites/ad-webhook-test</ResourceId>
    <UserName>$ad-webhook-test</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://ad-webhook-test.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>